{
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",

//  "printWidth": 80,
//  "tabWidth": 2,
//  "useTabs": false,
//  "semi": true,
//  "quoteProps": "as-needed",
//  "jsxSingleQuote": false,
//  "bracketSpacing": true,
//  "jsxBracketSameLine": false,
//  "rangeStart": 0,
//  "rangeEnd": Infinity,
//  "parser": "none",
//  "filepath": "none",
//  "requirePragma": false,
//  "insertPragma": false,
//  "proseWrap": "preserve",
//  "vueIndentScriptAndStyle": true,
}