// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Line Break and Tooltip CSS Fix
.v-data-table td {
    white-space: pre-wrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
