files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      client_body_timeout 10800;
      client_max_body_size 1024M;
      keepalive_timeout 10800;
      send_timeout 10800;
      proxy_connect_timeout 10800;
      proxy_read_timeout    10800;
      proxy_send_timeout    10800;
